.row
  .col-md-9
    = form_for(@notification) do |f|
      .form-group
        = f.label :from, 'From:  (max 11 char, no space)'
        = f.text_field :from, { class: 'form-control' }
      .form-group
        = f.label :message, 'Message'
        = f.text_field :message, { class: 'form-control' }
      .form-group
        = f.label :list, 'List'
        = f.text_area :list, { class: 'form-control', rows: 15 }
      .form-group
        .col-md-5
        %button.btn.btn-primary.col-md-2{:type => "submit"} Submit

    .notification_history.col-md-12
      - Notification.order('created_at desc').last(100).each do |notification|
        .notification
          .from= notification.from
          .message= notification.message
          .list= notification.list

  .contact_groups.col-md-3
    - @contact_groups.each do |group|
      .contact_group
        = group.name
        .contacts
          -group.contacts.each do |contact|
            .contact
              .name= contact.name
              .phone= contact.phone
